$primaryColor: rgb(13, 45, 226);
$secondaryColor: rgb(197, 195, 195);
$primaryFontColor: black;
$secondaryFontColor: grey;
$githubBtn: green;
$projectBtn: lightblue;
$smlFont: 0.5rem;
$nrmlFont: 1rem;
$bigFont: 5rem;

$breakpoints: (
  "phone": 400px,
  "phone-wide": 480px,
  "phablet": 560px,
  "tablet-small": 640px,
  "tablet": 768px,
  "tablet-wide": 1024px,
  "desktop": 1248px,
  "desktop-wide": 1440px,
);
